@charset "UTF-8";



/* Typical devices breakpoints
pequenas telas – ,,, — 600px.
celular –  600px atem768px.
tablet– 769px — 992px.
Desktops, large screens – 992px — 1200px.
Extra large screens, TV – 1201px, and more. */

@media print{
    
}




@media screen and (min-width: 768px) and (max-width: 992px){
    body{
        background-image: url(../imagens/back-tablet.jpg);
    }
    img#phone { display: none;}
    img#tablet { display: block;}
    img#tv { display: none;}
    img#pc { display: none;}
    img#print { display: none;}
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    body{
        background-image: url(../imagens/back-pc.jpg);

    } 
    img#phone { display: none;}
    img#tablet { display: none;}
    img#tv { display: none;}
    img#pc { display: block;}
    img#print { display: none;}
}

@media screen and (min-width: 1200px){
    body{
        background-image: url(../imagens/back-tv.jpg);
    }
    img#phone { display: none;}
    img#tv { display: block;}
    img#tablet { display: none;}
    img#print { display: none;}
    img#pc { display: none;}

}